p.text-intro {
	font-size: 22px !important;
}
p.text-mentions {
	font-size: 13px !important;
	line-height: 14px;
}
a.action-btn {
	padding: 5px 10px;
	background-color: #e4e4e4;
	text-decoration: none !important;
}