@import 'variables.scss';

// Customizer

#customize-control-site_logo,
#customize-control-footer_text,
#customize-control-site_icon,
#customize-control-layout_sidebar {
	border-top: #777 1px dashed;
	padding-top: 1.5em;
	margin-top: 1em;
}
#customize-control-site_logo {
	margin-bottom: 1.5em;
}

#customize-control-layout_option,
#customize-control-layout_sidebar {

	.customize-inside-control-row {
		position: relative;
		margin-left: 0;
		
		input[type=radio] {
			opacity: 0;
			position: absolute;
		}
		input[type=radio]:checked + label {
			font-weight: bold;
		}
		label::before {
			content: '';
			display: block;
			margin-bottom: 0.5em;
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
		
	input[type=radio]:checked + label {
		border-bottom: #777 2px solid;
	}
	input[type=radio]:checked + label::before {
		filter: grayscale(0);
	}
	
	label::before {
		filter: grayscale(100);
		width: 256px;
		height: 144px;
	}
	
	
	#_customize-input-layout_option-radio-version1 + label::before {
		background-image: url(../img/admin/version-1.jpg);
	}
	#_customize-input-layout_option-radio-version2 + label::before {
		background-image: url(../img/admin/version-2.jpg);
	}
	#_customize-input-layout_sidebar-radio-sidebar + label::before {
		background-image: url(../img/admin/version-sidebar.jpg);
	}
	#_customize-input-layout_sidebar-radio-topbar + label::before {
		background-image: url(../img/admin/version-topbar.jpg);
	}	
}

// ACF 

.acf-repeater .acf-row:nth-child(odd) .acf-row-handle.order {
    background: #cfcfcf;
    color: #fff;
}
.acf-repeater .acf-row:nth-child(odd) .acf-fields.-left > .acf-field:before {
    background: #cfcfcf;
}

.acf-flexible-content .layout .acf-fc-layout-controlls .acf-icon.-collapse {
	border-radius: 100%;
	background: #21e221;
	color: #fff;
}
.acf-flexible-content .layout .acf-fc-layout-controlls .acf-icon.-collapse:hover {
	border-radius: 100%;
	background: #00cc00;
	color: #fff;
}

.acf-field-flexible-content {
	background: #f5f5f5;
}

.acf-flexible-content .layout .acf-fc-layout-handle {
	background: #fff;
}
.acf-flexible-content .layout:nth-child(odd) .acf-fc-layout-handle {
	background: #e4e4e4;
}

@media (max-width: 45em) {
	.acf-input input[type="range"] {
		display: none;
	}
}

.acf-flexible-content .acf-fc-layout-handle span:not(.acf-fc-layout-order) {
	font-weight: bold;
	margin-left: 20px;
}

.acf-flexible-content .layout .acf-fc-layout-handle {
	display: flex;
	align-items: center;
}
.acf-flexible-content .layout .acf-fc-layout-order {
	margin-right: 10px;
}
.acf-flexible-content .layout .acf-fc-layout-handle img {
	border: #e1e1e1 1px dashed;
	width: 250px;
}

.wp-core-ui .button-primary.acf-button {
	background: #37A9DC;
	border-radius: 0;
	border: 1px solid #37A9DC;
	text-shadow: none;
	box-shadow: none;
	-webkit-transition: background-color 200ms linear;
    -ms-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
}
.wp-core-ui .button-primary.acf-button:hover {
	color: #37A9DC;
	background: #fff;
}