@import 'variables.scss';

// Customizer

#customize-control-site_logo,
#customize-control-footer_text,
#customize-control-site_icon,
#customize-control-layout_sidebar {
	border-top: #777 1px dashed;
	padding-top: 1.5em;
	margin-top: 1em;
}
#customize-control-site_logo {
	margin-bottom: 1.5em;
}

#customize-control-layout_option,
#customize-control-layout_sidebar {

	.customize-inside-control-row {
		position: relative;
		margin-left: 0;
		
		input[type=radio] {
			opacity: 0;
			position: absolute;
		}
		input[type=radio]:checked + label {
			font-weight: bold;
		}
		label::before {
			content: '';
			display: block;
			margin-bottom: 0.5em;
			background-position: 0 0;
			background-repeat: no-repeat;
			background-size: contain;
		}
	}
		
	input[type=radio]:checked + label {
		border-bottom: #777 2px solid;
	}
	input[type=radio]:checked + label::before {
		filter: grayscale(0);
	}
	
	label::before {
		filter: grayscale(100);
		width: 256px;
		height: 144px;
	}
	
	
	#_customize-input-layout_option-radio-version1 + label::before {
		background-image: url(../img/admin/version-1.jpg);
	}
	#_customize-input-layout_option-radio-version2 + label::before {
		background-image: url(../img/admin/version-2.jpg);
	}
	#_customize-input-layout_sidebar-radio-sidebar + label::before {
		background-image: url(../img/admin/version-sidebar.jpg);
	}
	#_customize-input-layout_sidebar-radio-topbar + label::before {
		background-image: url(../img/admin/version-topbar.jpg);
	}	
}