// Gutenberg Stuff
// -
// + + + + + + + + + + 


// Colors

.has-primary-color-background-color {
	background-color: $primary-color;
}
.has-secondary-color-background-color {
	background-color: $secondary-color;
}
.has-third-color-background-color {
	background-color: $third-color;
}
.has-white-color-background-color {
	background-color: #fff;
}
.has-black-color-background-color {
	background-color: #303030;
}

.has-text-color.has-primary-color-color {
	color: $primary-color;
}
.has-text-color.has-secondary-color-color {
	color: $secondary-color;
}
.has-text-color.has-third-color-color {
	color: $third-color;
}
.has-text-color.has-white-color-color {
	color: #fff;
}
.has-text-color.has-black-color-color {
	color: #303030;
}


// Text

.has-small-font-size {
	@extend .text-mentions;
}
.has-regular-font-size {
	font-size: 1.6rem;
}
.has-large-font-size {
	@extend .text-intro;
}
.has-larger-font-size {
	font-size: 3rem;
}


// Columns 

.wp-block-columns {
	display: block;
	
	.wp-block-column {
		width: 100% !important;
		margin: 0;
	}

	@include rwd(medium) {
		display: flex;

		.wp-block-column {
			margin: 0 $grid-padding;
			
			& > p:last-child {
				margin-bottom: 0;
			}

			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		&.columns-2 {
			.wp-block-column {
				width: 50%;
			}
		}
		&.columns-3 {
			.wp-block-column {
				width: 33.3333%;
			}
		}
		&.columns-4 {
			.wp-block-column {
				width: 25%;
			}
		}
	}
}


// Images

.wp-block-image {
	
	& img {
		max-width: none;
	}
	
	&.alignfull {
		width: 100%;
	}	
}


// Links / Button

.wp-block-button {
	
	.wp-block-button__link {
		@extend .action-btn;
		border-radius: 0;
		
		&.has-primary-color-background-color {
			background-color: $primary-color;
		}
		&.has-secondary-color-background-color {
			background-color: $secondary-color;
		}
	}
}

// Files

.wp-block-file {
	
	a:first-child {
		font-family: $font-regular;
		text-decoration: none;
		border-bottom: $secondary-color 2px solid;
		transition: border .2s ease-in-out;
		
		&:hover {
			border-bottom-width: 4px;
		}
		&.focus-visible {
			background-color: $text-color;
			border-bottom-color: $text-color;
			color: #fff;
		}
	}

	a.wp-block-file__button {
		border-radius: 0;
		font-family: $font-regular;
		background-color: $primary-color;
		transition: background .2s ease-in-out;
		
		&:hover, 
		&.focus-visible {
			background-color: $secondary-color;
		}
	}
	
}


// Quotes

.wp-block-quote {
	
	cite {
		
	}
}


// Table

.wp-block-table {

}


// Gallery /Gut  ** backwards compatibility **

.wp-block-gallery {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0 !important;
		// allow gallery items to go edge to edge
		//margin: 0 -$grid-padding/2 0 -$grid-padding/2; // useless when centering Gut Blocks on the page

	.blocks-gallery-image,
	.blocks-gallery-item {
		margin: $grid-padding/2;
		display: flex;
		flex-grow: 1;
		flex-direction: column;
		justify-content: center;
		position: relative;
			@include img-opacity(.7);

		figure {
			margin: 0;
			height: 100%;
			display: flex;
				flex-direction: column; 		// direction
				flex: 1;						// and stretching
			align-items: flex-start;
				
				a {
					display: flex; 				// stretching <a>
					flex-direction: column;		// along all 
					flex: 1;					// the height
				}
		}

		img {
			display: block;
			max-width: 100%;
			height: auto;
		}

		figcaption {
			position: absolute;
				bottom: 0;			// positionning 
				left: 0;			// the caption
			width: 100%;
			max-height: 100%;
			overflow: auto;
			padding: $grid-padding/2; // FS
			color: #fff;
			text-align: center;
			background: $primary-color; // FS
			opacity: .9; // FS
			font-family: $font-bold; // FS

			img {
				display: block; // FS
			}
		}
	}

	// Cropped
	&.is-cropped .blocks-gallery-image,
	&.is-cropped .blocks-gallery-item {
		a,
		img {
			//display: flex;	// no
			//flex: 1;			// need
			width: 100%;
			height: 100%;
			object-fit: cover;

		}
	}

	// Responsive fallback value, 2 columns
	& .blocks-gallery-image,
	& .blocks-gallery-item {
		width: calc(100% / 2 - $grid-padding);
	}

	&.columns-1 .blocks-gallery-image,
	&.columns-1 .blocks-gallery-item {
		width: calc(100% / 1 - $grid-padding);
	}

	@include rwd(small) {
		@for $i from 3 through 8 {
			&.columns-#{ $i } .blocks-gallery-image,
			&.columns-#{ $i } .blocks-gallery-item {
				width: calc(100% / #{ $i } - $grid-padding);
			}
		}
	}

	// Make the "Add new Gallery item" button full-width (so it always appears
	// below other items).
	.blocks-gallery-item {
		&.has-add-item-button {
			width: 100%;
		}
	}

	// Apply max-width to floated items that have no intrinsic width
	[data-align="left"] &,
	[data-align="right"] &,
	&.alignleft,
	&.alignright {
		max-width: $max-width / 2;
		width: 100%;
	}
}