// Gutenberg Stuff
// -
// + + + + + + + + + + 


// Colors

.has-primary-color-background-color {
	background-color: var(--primary_color);
}
.has-secondary-color-background-color {
	background-color: var(--secondary_color);
}
.has-third-color-background-color {
	background-color: var(--third_color);
}
.has-black-color-background-color {
	background-color: var(--text_color);
}
.has-white-color-background-color {
	background-color: #fff;
}

.has-inline-color.has-primary-color-color,
.has-text-color.has-primary-color-color {
	color: var(--primary_color);
}
.has-inline-color.has-secondary-color-color,
.has-text-color.has-secondary-color-color {
	color: var(--secondary_color);
}
.has-inline-color.has-third-color-color,
.has-text-color.has-third-color-color {
	color: var(--third_color);
}
.has-inline-color.has-black-color-color,
.has-text-color.has-black-color-color {
	color: var(--text_color);
}
.has-inline-color.has-white-color-color,
.has-text-color.has-white-color-color {
	color: #fff;
}

// Links / Button

.wp-block-button {}
	
.wp-block-button__link,
.wp-block-file__button {
	@extend .action-btn;
	border-radius: 0;
	
	&:hover,
	&.focus-visible {
		color: #fff !important;
	}
}

// Files

.wp-block-file {
	
	a:first-child {
		font-family: var(--font_regular);
		text-decoration: none;
		border-bottom: var(--secondary_color) 2px solid;
		transition: border .2s ease-in-out;
		
		&:hover {
			border-bottom-width: 4px;
		}
		&.focus-visible {
			background-color: var(--text_color);
			border-bottom-color: var(--text_color);
			color: #fff;
		}
	}
}



// Text

.has-small-font-size {
	@extend .text-mentions;
}
.has-large-font-size {
	@extend .text-intro;
}


// Columns 

.wp-block-columns {
	display: block;
	
	.wp-block-column {
		width: 100% !important;
		margin: 0;
	}

	@include rwd(medium) {
		display: flex;

		.wp-block-column {
			margin: 0 $grid-padding;
			
			& > p:last-child {
				margin-bottom: 0;
			}

			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		&.columns-2 {
			.wp-block-column {
				width: 50%;
			}
		}
		&.columns-3 {
			.wp-block-column {
				width: 33.3333%;
			}
		}
		&.columns-4 {
			.wp-block-column {
				width: 25%;
			}
		}
	}
}


// Images

.wp-block-image {
	
	& img {
		max-width: none;
	}
	
	&.alignfull {
		width: 100%;
	}
	
	// WP block fix
	
	&:not([class*="is-resized"]) img {
		width: 100%; 
		height: auto;
	}	
}

// Quotes

.wp-block-quote {
	margin-bottom: $grid-padding*2 !important;
	
	cite {
		
	}
}

// Separators 

hr,
.wp-block-separator {
	border: 0;
	border-top: #444 1px solid;
}
.wp-block-separator {
	
	&,
	.page-content > & {
		max-width: 20rem;
		margin: 4rem auto;
		padding: 0;

		&.is-style-wide {
			max-width: 50rem;
		}		
	}
}

// Latest posts & Categories

.wp-block-archives-list,
.wp-block-categories-list,
.wp-block-latest-posts__list {
	
	li {
		margin-left: 0;
		border-bottom: var(--text_color) 1px solid;
		
		&:first-child {
			border-top: var(--text_color) 1px solid;
		}
			
		a {
			padding: $grid-padding 0;
			text-decoration: none;
			transition: .2s ease-in-out;
			
			&:hover,
			&.focus-visible {
				padding-left: $grid-padding;
				padding-right: $grid-padding;
				background-color: var(--primary_color);
				color: #fff;
			}
		}
	}
	
	&.is-grid {
		li {
			margin-bottom: 0;
			
			&:first-child {
				border-top: 0;
			}
		}
	}
}
.wp-block-latest-posts__list {
	li {
		a {
			display: block;
		}
	}
}

.wp-block-archives-list,
.wp-block-categories-list {
	list-style: none;
	
	li {
		a {
			display: inline-block;
		}
	}
}



// Table

.wp-block-table {

}


// Gallery

.wp-block-gallery {
	
	.page-content> & {
		margin-bottom: 0;
	}
	
	.blocks-gallery-image,
	.blocks-gallery-item { 
		figcaption {
			padding: $grid-padding;
		}
	}
	
}  


// ACF Blocks Stuff
// -
// + + + + + + + + + + 


[class*=acf-block--] {

	.acf-block-container {
		width: 100%;
		
		&.center-max {
			padding: $grid-padding;
			margin: 0 auto;
			max-width: $max-width;
		}
	}
}

// Text 

.acf-block--text {}


// Text+Img

.acf-block--textimg {}


// Gallery 

.acf-block--gallery {}
.acf-block-gallery-caption {
	padding: $grid-padding/2 0;
	border-bottom: var(--text_color) 1px solid;
}

// CTA

.acf-block--cta {
	
	.acf-block-container {
		max-width: 50rem;
		margin: 0 auto;
		padding: $grid-padding*2;
		background-color: #fff;
	}
}

// Posts

.acf-block--posts {
	.acf-block-container {
	}
}

.acf-block-post-figure {
	margin: 0;

	img {
		display: block;
		margin: 0;
	}

	@include rwd(medium) {
		.acf-block-post-content--1col & {
			padding-right: 0 !important;
		}
	}
	
}
.acf-block-post-content {
	padding: $grid-padding;
	background-color: #fff;
	
	@include rwd(medium) {
		.acf-block-post-content--1col & {
			padding-left: $grid-padding*2;
		}
	}	
}
.acf-block-post-title {
	font-size: 2rem;
	line-height: 1.3;
	
	a {
		text-decoration: none;
		transition: color .2s ease-in-out;
		
		&:hover,
		&:focus {
			color: var(--primary_color);
		}
	}
}
.acf-block-post-metas {
	margin-bottom: $grid-padding;
	font-size: 1.4rem;
}

// Adv Lists

.acf-block--advanced-list {}
.acf-block-list-item {
	margin-left: 0;
	
	.list-featured {
		color: var(--primary_color);
	}
}

// Testimonial

.acf-block-testimonial-item {
	
	.testimonial-title {
		@extend h3;
	}
	.testimonial-picture {
		img {
			border-radius: 50%;
		}
	}
	.testimonial-caption {
		padding-left: 6rem;
		border-bottom: 0;
		
		.testimonial-author {
			display: block;
			font-family: var(--font_bold)italic;
		}
		.testimonial-desc {
			display: block;
			font-family: var(--font_italic);
		}
	}
	blockquote {
		margin: 0;
		max-width: none;
	}
		
}