// Common Stuff (One Page)
// -
// + + + + + + + + + + + +

.page-wrap {

	.non-one-page & {
		padding-top: 8rem;
	}
	.home.non-one-page & {
		padding-top: $grid-padding*2;
	}
	
}

.page-section {
	position: relative;
	min-height: 100vh;
	
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 5rem 0;
	
	@include rwd(medium) {
		padding: 6rem 0;
	}
	
	&:nth-child(odd) {
		background-color: #fff;
	}
	
	.non-one-page & {
		justify-content: flex-start;
	}
	
	.admin-bar & {
		
		@include rwd(80rem) {
			padding: 10rem 0;
		}
			
	}
	
	.page-title {
		width: 100%;		
		@include center();
	}
}
.page-title {
	display: block;
	padding: $grid-padding;
	
	&::after {
		@include pre-stroke();
	}		
}

.page-content {

	& > .ad-acf-block,
	& > [class*="wp-block-"], 
	& > p,
	& > ul,
	& > ol,
	& > h1,
	& > h2,
	& > h3,
	& > h4,
	& > h5,
	& > h6,
	& > .wpcf7,
	.the-regular-posts,
	.the-carousel-posts	{
		padding: $grid-padding;
		@include center();
	}
	
	& > .ad-acf-block.alignfull,
	& > [class*="wp-block-"].alignfull,
	& > .page-figure {
		padding: 0;
		margin: 0;
		max-width: none;
	}
	
	& > [class*="wp-block-gallery"],
	& > [class*="wp-block-cover-image"],
	& > [class*="wp-block-quote"] {
		@include center(0, $grid-padding*2);
	}
	& > [class*="wp-block-table"],
	& > [class*="wp-block-verse"] {	
		@include center($grid-padding*2, $grid-padding*2);
		max-width: calc(#{$max-width} - #{$grid-padding}*2);
	}
			
}


// Animations

.post,
.front-page-section {
	
	&[data-scroll="in"] {
		animation: anim-opacity 1s ease-in-out;		
	}
}
.page-title[data-scroll="in"] {
	animation: anim-from-below 1s ease-in-out;	
}
.page-content[data-scroll="in"] {
	animation: anim-opacity 1.5s ease-in-out;	
}
.front-page-content[data-scroll="in"] {
	animation: anim-from-below .8s ease-in-out;
}

@keyframes anim-opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes anim-from-left {
	0% {
		transform: translateX(-4rem);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes anim-from-below {
	0% {
		transform: translateY(4rem);
	}
	100% {
		transform: translateY(0);
	}
}


// Common Stuff & Templates
// -
// + + + + + + + + + + + + + + + + 


.page-wrap {
	width: 100%;
	padding-top: 0;
	margin-bottom: $grid-padding*2;
			
	.one-page & {
		padding-top: 6rem;
	}
}
.archive-wrap {
	@extend .page-wrap;
	@include center(0, $grid-padding*2);
	padding: $grid-padding;
	
	.page-title {
		//padding: $grid-padding*2 0;
		margin-bottom: 0;
	}
}

.page-figure {

	&[data-scroll="in"] {
		animation: anim-opacity 1s ease-in-out;		
	}
	
	img {
		height: 50vh;
		object-fit: cover;
	}
}

.animated-image {

	.animated-figure[data-scroll="in"] {
		background-color: transparent;
		animation: anim-from-below 1.5s ease-in-out;		
	}
	
	@include rwd(large) {
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		
		.page-title {
			max-width: none;
			padding-left: calc( (100% - #{$max-width}) /2 + #{$grid-padding} );
		}
		.page-content {
			width: 60%;
		}
		.animated-figure {
			width: 40%;
		}
		.page-content {
			padding-left: calc( ( 100% - #{$max-width}) /2 );
		}
		.animated-figure {
			padding: $grid-padding 0 $grid-padding $grid-padding;
		}

		// Reverse order
		
		&.reverse {
			flex-direction: row-reverse;

			.page-content {
				padding-left: $grid-padding;
				padding-right: calc( ( 100% - #{$max-width}) /2 );
			}
			.animated-figure {
				padding: $grid-padding $grid-padding $grid-padding 0;
			}

		}
		
		
	}
	
}


