// One Page Stuff
// -
// + + + + + + + + + + + +

.page-section {
	position: relative;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	
	display: flex;
	flex-direction: column;
	justify-content: center;

	padding: 5rem 0;
	
	@include rwd(medium) {
		padding: 6rem 0;
	}
	
	&:nth-child(odd) {
		background-color: #fff;
	}

	.admin-bar & {
		
		@include rwd(medium) {
			padding-top: 10rem;
		}
			
	}
	
	.page-title {
		width: 100%;		
		@include center();
	}
}

.page-title {
	display: block;
	padding: 0 $grid-padding;
	
	&::after {
		@include pre-stroke();
	}		
}

.page-content {
	
	.page-banner + & {
		padding-top: $grid-padding*2;
	}
	
	// Centering Blocks and content
	
	& > * {
		width: 100%;
		padding: $grid-padding;
		@include center();
	}
	
	& > .wpcf7,
	& > [class*="wp-block-contact-form-7-"] {
		@include rwd(large) {
			padding-right: 15%;
		}
	}
	
	& > *.alignwide {
		max-width: $max-width-large;
	}
	& > *.alignfull {
		margin-left: 0;
		margin-right: 0;
		max-width: none;
	}
	
	& > [class*="wp-block-image"] {

		figcaption {
			margin: 0;
		}
		&.alignfull {
			padding: 0;
		}
	}
	
	& > [class*="wp-block-gallery"],
	& > [class*="wp-block-cover-image"],
	& > [class*="wp-block-quote"] {
		@include center();
		margin-bottom: $grid-padding*2;
	}
	& > [class*="wp-block-table"],
	& > [class*="wp-block-verse"] {	
		position: relative;
		margin: $grid-padding*2 auto;
		max-width: calc(#{$max-width} - #{$grid-padding}*2);
	}
	
	& > span {
		display: block;
	    margin-bottom: 1.5em;
	}
			
}


// Common Stuff & Templates
// -
// + + + + + + + + + + + + + + + + 


.page-wrap {
	width: 100%;
	margin-bottom: $grid-padding*2;
}

.page-banner {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 35vh;
	background-color: var(--primary_color);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	
	&[data-scroll="in"] {
		animation: anim-opacity 1s ease-in-out;		
	}
	
	&::after {
		position: absolute;
		content: '';
		width: 100%;
		height: 100%;
		background-color: var(--primary_color);
		opacity: .7;
		z-index: 1;
	}
	.page-title,
	.post-meta,
	p {
		position: relative;
		width: 100%;
		z-index: 2;
		
		@include rwd($max-width) {
			width: $max-width;
			margin: 0 auto;
		}
	}
	p {
		color: #fff;
		padding: $grid-padding;
	}
	.page-title {
		color: #fff;
		display: block;
		
		&::after {
			content: none;
		}
	}
}

.animated-image {
	//padding-bottom: 0;
	
	.animated-figure[data-scroll="in"] {
		background-color: transparent;
		padding: 0;
		margin: 0;
		animation: anim-from-below 1.5s ease-in-out;		
	}
	
	@include rwd(large) {
		flex-direction: row;
		flex-wrap: wrap;
		
		.page-title {
			max-width: none;
			padding-left: calc( ( 100% - #{$max-width} ) /2 + #{$grid-padding} );
		}
		.page-content {
			width: 60%;
			padding-left: calc( ( 100% - #{$max-width}) /2 );
			padding-right: $grid-padding*3;
		}
		.animated-figure {
			width: 40%;
			
			img {
				object-fit: cover;
			}
		}

		// Reverse order
		
		&.reverse {
			flex-direction: row-reverse;
			
			.page-title {
				padding-left: calc( 40% + #{$grid-padding*2} );
			}
			.page-content {
				padding-left: $grid-padding;
				padding-right: calc( ( 100% - #{$max-width}) /2 );
			}
			.animated-figure {
				padding-right: $grid-padding*3;
			}
		}
	}
}

// Maintenance

.page-template-pagecustom-maintenance {
	
	.page-banner {
		height: 100vh;
	} 
}


// Animations

.post,
.front-page-section {
	
	&[data-scroll="in"] {
		animation: anim-opacity 1s ease-in-out;		
	}
}
.page-title[data-scroll="in"] {
	animation: anim-from-below 1s ease-in-out;	
}
.page-content[data-scroll="in"] {
	animation: anim-opacity 1.5s ease-in-out;	
}
.front-page-content[data-scroll="in"] {
	animation: anim-from-below .8s ease-in-out;
}

@keyframes anim-opacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes anim-from-left {
	0% {
		transform: translateX(-4rem);
	}
	100% {
		transform: translateX(0);
	}
}
@keyframes anim-from-below {
	0% {
		transform: translateY(4rem);
	}
	100% {
		transform: translateY(0);
	}
}

