/* ------------------------- */
/* = Footer
/* ------------------------- */


#site_foot {
	background-color: #fff;
}
.footer-wrap {
	padding: $grid-padding;
	@include center();
}
.footer-widget-container {
	width: 100%;
	padding: $grid-padding*2 0;
	
	@include rwd(large) {
		display: flex;
		flex-wrap: wrap;
		padding: $grid-padding*3 0;
	}
	
	.widget-container {
		flex: 1 0 0;
		padding-bottom: $grid-padding*2;
		margin-bottom: $grid-padding*2;
		border-bottom: $text-color 1px dashed;
		
		@include rwd(large) {
			min-width: 33.3333%;
			padding-left: $grid-padding*2;
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0;

			&:nth-child(3n+1) {
				padding-left: 0;
			}
		}
	}
	
	.sub-menu {
		display: none;
	}
}
.footer-content {
	width: 100%;
	padding: $grid-padding*2 0;
}

.footer-nav, 
.footer-copyright {
	display: inline-block; 
	vertical-align: baseline;
	margin-bottom: 0;
}

.footer-menu {
	margin: 0;
	
	li {
		display: inline;
		margin: 0 .25em;
	}
}