// ------------------------------
//
//  Forms : Custom 
// 
// ------------------------------


// Containers for inputs
// Inputs must be wrapped inside them

.formfield-half {
	
	@include rwd(medium) {
		display: flex;
	}
}


.formfield-text, // Generic container
.formfield-textarea,
.formfield-select, 
.formfield-file, 
.formfield-checkbox, 
.formfield-radio {
	position: relative;
	margin: $grid-padding 0;

	.formfield-half &:first-child {
		@include rwd(medium) {
			margin-right: $grid-padding*2;
		}
	}	
}


// Radio buttons & Chekboxes


.formfield-radio input[type="radio"],
.formfield-checkbox input[type="checkbox"] {
	opacity: 0; 
	position: absolute; 
	top: 0; 
	left: 0;
	
	& + label,
	& + span {					// @note: span is for CF7
		padding: 0 0 0 26px;
		
		&::before {
			content: ''; 
			vertical-align: middle;
			display: inline-block; 
			width: 16px;
			height: 16px;
			position: absolute; 
			top: 3px; 
			left: 0;
			border: var(--text_color) 1px solid;
			background-color: #fff;
		}
		
		&::after {
			content: ''; 
			vertical-align: middle;
			display: inline-block;
			position: absolute; 
			top: 0; 
			left: 0;
		}
	}
}

.formfield-radio input[type="radio"] + label::before,
.formfield-radio input[type="radio"] + span::before {
	border-radius: 100%;
}
.formfield-radio input[type="radio"] + label::after,
.formfield-radio input[type="radio"] + span::after {
	width: 6px; 
	height: 6px;
	background-color: var(--secondary_color);
	top: 9px; 
	left: 6px;
	border-radius: 100%;
	opacity: 0;
	transition: opacity .2s linear;
}
.formfield-radio input[type="radio"]:checked + label::after,
.formfield-radio input[type="radio"]:checked + span::after {
	opacity: 1;
}

.formfield-checkbox input[type="checkbox"] + label::after,
.formfield-checkbox input[type="checkbox"] + span::after {
	top: -9px; 
	left: 6px;
	content: "L";
	font-family: $font-bold;
	font-size: 2.4rem;
	color: var(--secondary_color); 
	opacity: 0;
	transform: scaleX(-1) rotate(-45deg);
	transition: opacity .2s linear;
}
.formfield-checkbox input[type="checkbox"]:checked + label::after,
.formfield-checkbox input[type="checkbox"]:checked + span::after  {
	opacity: 1;
}

// @note: for CF7

.wpcf7-list-item label {
	position: relative;
}
span.wpcf7-list-item {
	margin: 0 $grid-padding 0 0;
}

.formfield-radio input[type="radio"].focus-visible + span,
.formfield-radio input[type="checkbox"].focus-visible + span {
	border-bottom: var(--primary_color) 1px dashed;
}

.formfield-radio input[type="radio"].focus-visible + span::after,
.formfield-radio input[type="checkbox"].focus-visible + span::after {
	//opacity: .5;
}


.comment-form-cookies-consent {
	@extend .formfield-checkbox;
}

// CF7
.formfield-select {
	.wpcf7-form-control-wrap {
		display: block;
		@extend .formfield-select--container;
	}
}


// Select

.formfield-select--container {
	position: relative; 
	overflow: hidden;
	background-color: #fff;
	border: var(--text_color) 1px solid;
	margin: 0 0 $grid-padding*2 0;
	padding: 0;
	
	&::after {
		content: '';
		position: absolute;
		top: 50%; 
		margin-top: -3px;
		right: .5em;  
		display: block; 
		width: 0; 
		height: 0;
		border-color: transparent;
		border-top-color: var(--secondary_color); 
		border-width: 6px;
		border-style: solid;
		pointer-events: none;
	}
	
	& select {
		padding-right: 6rem;
		width: 110%; 
		height: auto;
		border: 0; 
		margin: 0;
		border-radius: 0;
		appearance: none;
		overflow: hidden;
		text-overflow: ellipsis;
	}
}
.formfield-select--container select::-ms-expand {
    display: none;
}


// File


.formfield-file--container {
	position: relative;
	margin: 0 0 $grid-padding*2 0;

	&::after {
		display: inline-block; 
		content: "\1F4CE";
		font-size: 2rem;
		color: var(--text_color);
		position: absolute; 
		top: .5em; 
		right: .5em;
		z-index: 100;
	}
}