// ------------------------------
// = Front page elements
// ------------------------------

.front-page-section {
	@extend .page-section;
	height: 100vh; // IE 11
	align-items: flex-start;
}
.front-page-content {
	position: relative;
	display: inline-block;
	padding: 2rem;
	background-color: transparent !important;
	max-width: 80%;

	&::after {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		position: absolute;
		top: 0; 
		left: 0;
		background-color: $primary-color;
		opacity: .9;
		z-index: 1;
	}
	
	@include rwd(medium) {
		$pad: calc( (100% - #{$max-width}) /2 );
		padding: 3rem 3rem 3rem $pad;
		max-width: none;
	}
	
	.site-title,
	.site-desc,
	.front-content {
		position: relative;
		color: #fff;
		line-height: 1.2;
		z-index: 2;
	}
	
	.site-desc {
		font-size: 2.2rem;
	}
}
.front-content {
	padding: 0 $grid-padding;
	
	& > * {
		color: #fff;
	}
}

.scroll-down {
	position: relative;
	display: block;
	height: 40px;
	width: 45px;
	padding: 0;
	margin: 0;
	color: #fff;
	background: transparent url(img/icon-arrow-white.svg) 1rem 0 no-repeat;
	background-size: contain;
	z-index: 2;

	@include a11y-hide();
	
	&:hover,
	&.focus-visible {
		background-color: transparent;
		animation: pop-in .4s ease-in-out;
	}
	&:focus {
		outline: none;
	}
}