/* ------------------------- */
/* = Header
/* ------------------------- */


#site_head {	
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 100;

	.home & {
		position: absolute;
	}
	.home.admin-bar & {
		top: 46px;
		
		@include rwd($admin-bar) {
			top: 32px;
		}
	}
	.home.fixed-nav & {
		position: fixed;
		top: 0;
		animation: drop-in .6s ease-in-out;
	}
	
	@include rwd($admin-bar) {	
		.home.fixed-nav.admin-bar & {
			top: 32px;
		}
	}

	& > .inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}

// Back Home

.back-home {
	display: block;
	height: 3rem;
	width: 2rem;
	padding: 0;
	margin: 0 $grid-padding*2 0 0;
	
	img {
		height: auto;
		width: 100%;
		transform: rotate(90deg);
	}
	
	&:hover,
	&.focus-visible {
		
		img {
			animation: go-back .4s infinite ease-in-out;
		}
	}
}

.site-title {
	display: block;
	margin: 0;
	line-height: 1;
	font-family: $font-bold;
	text-transform: uppercase;
	
	a {
		text-decoration: none;
		transition: color .3s ease-in-out;
		
		&:hover,
		&.focus-visible {
			color: var(--primary_color);
		}	
	}
}
.logo,
.logo-white {
	display: block;
	max-height: 5rem;
	width: auto;
	margin-bottom: $grid-padding/2;
	
	.home & {
		max-height: 10rem;
		margin-bottom: $grid-padding;
	}
	.header-v2 & {
		max-height: none; 
	}
}

.site-desc {
	display: block;
	margin: 0;
}

.site-brand {
	padding: $grid-padding;
}