/* ------------------------- */
/* = Header
/* ------------------------- */


#site_head {	
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #fff;
	z-index: 100;
	
	.admin-bar & {
		top: 46px;
		
		@include rwd(80rem) {
			top: 32px;
		}
	}
	
	.fixed-nav & {
		position: fixed;
		top: 0;
		animation: drop-in .6s ease-in-out;
		//border-bottom: $text-color 1px dashed;
	}
			
	@include rwd(80rem) {	
		.fixed-nav.admin-bar & {
			top: 32px;
		}
	}

	& > .row {
		align-items: center;
		//justify-content: center;
	}
}

.site-title {
	display: block;
	margin: 0;
	line-height: 1;
	font-family: $font-bold;
	text-transform: uppercase;
	
	a {
		text-decoration: none;
		transition: color .3s ease-in-out;
		
		&:hover,
		&.focus-visible {
			color: $primary-color;
		}	
	}
}

.site-desc {
	display: block;
	margin: 0;
}

.site-brand {
	padding: $grid-padding;
}