/* ------------------------- */
/* = Plugins
/* ------------------------- */

// Slick

.slick-list {
    .slick-loading & {
        background: #fff url(img/ajax-loader.gif) center center no-repeat;
    }
}
.slick-slide {
	outline: none;
	display: flex !important;
	justify-content: center;
	padding: 6rem;
	
	@include rwd(large) {
		padding: $grid-padding;
	}
}

.slick-prev,
.slick-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: $grid-padding;
    margin: 0;
    background-color: transparent;
    z-index: 100;
    
    img {
	    width: 40px;
	    height: 40px;
		transition: transform .2s ease-in-out;
    }
	
	&:hover, 
	&:focus {
       background-color: transparent;
       
       img {
	       transform: scale(1.1);
       }
    }
    &.slick-disabled {
        opacity: .2 !important;
        cursor: default;
        
        &:hover img, 
		&:focus img,
		&.focus-visible {
			transform: none;
		}
    }
}

.slick-prev {
	left: 0;
	transform: translateY(-50%) scaleX(-1);
	
	@include rwd(large) {
		left: -5.5rem;
	}
	@include rwd(wide) {
		left: -10rem;
	}
}
.slick-next {
	right: 0;
	
	@include rwd(large) {
		right: -5.5rem;
	}
	@include rwd(wide) {
		right: -10rem;
	}
}


.slick-dots {
	position: absolute;
	bottom: auto;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 1em 0; 
	list-style: none;
	text-align: center;
	
	li {
		display: inline-block;
		padding: .5em !important;
		margin: 0;
		
		&::before {
			content: none !important;
		}
		
		button {
			padding: 0;
			display: block;
			width: 14px; 
			height: 14px;
			margin: 0 8px;
			border-radius: 14px;
			border: var(--primary_color) 2px solid;
			background-color: transparent;
			outline: none !important;
			
			@include a11y-hide();
			transition: .2s ease-in-out;
			
			&:hover, 
			&.focus-visible {
				transform: scale(1.4);
				background-color: var(--primary_color);
				border-color: transparent;
				outline: none;
			}
		
		}
		
		&.slick-active button {
			background-color: var(--text_color);
			border-color: transparent;
		}
		&.slick-disabled {
			visibility: hidden;
		}

	}
}

// Fancybox

.fancybox-toolbar {
	
	.admin-bar & {
		top: 46px;
		
		@include rwd($admin-bar) {
			top: 32px;
		}
	}	
}

.fancybox-button {
	background-color: var(--primary_color);
	
	.fancybox-navigation & {
		border-radius: 50%;
		height: 4.4rem;
		width: 4.4rem;
		padding: 0;
	}
	
	svg path { fill: #fff; }

	&:hover,
	&.focus-visible {
		background-color: #fff;
		
		svg path { fill: var(--text_color); }
	}
}


.fancybox-close-small {
	padding: $grid-padding*2;
	width: 4.4rem;
	height: 4.4rem;
	transition: background .3s ease-in-out;
	background-color: var(--primary_color);
	border-radius: 50%;
	
	svg path {
		fill: #fff;	
	}

	&:hover,
	&.focus-visible {
		background-color: #fff;
		
		svg path {
			fill: var(--text_color);	
		}
	}

}

/* ------------------------- */
/* = Helpers
/* ------------------------- */

.screen-reader-text {
	@include a11y-hidden();
}

.clearfix {
	clear: both;
	float: none;
}
.floatl {
	float: left;
} 
.floatr {
	float: right;
}

.txtr {
	text-align: right;
} 
.txtl {
	text-align: left;
} 
.txtc {
	text-align: center;
}