// Skiplinks


.skiplinks {
	position: absolute; 
	padding-top: 0;
	z-index: 400;

	a {
		position: fixed; 
		top: -65px;
		padding: $grid-padding;
		background-color: var(--primary_color);
		font-family: $font-bold;
		color: #fff;
		text-decoration: none;
		transition: top .2s ease-in;
	
		&.focus-visible,
		&:focus {
			top: -5px;
			
			.admin-bar & {
				top: 27px;
			}
		}
		&:focus {
			outline: none;
		}

	}
}


// Main nav

.site-nav {
	padding: $grid-padding;
	
	&.onepage-nav {
		padding: 0;
		overflow: hidden;
		overflow-x: auto;
		width: 100%;
	}

	@include rwd(large) {
		padding: 0;
	}
}

.onepage-menu {
	transition: .3s ease-in-out;
	background-color: transparent;
	white-space: nowrap;
	
	@include rwd(large) {
		white-space: normal;
	}
		
	.admin-bar.menu-visible & {
		padding-top: 10rem;
	}
	.admin-bar.menu-visible.fixed-nav & {
		padding-top: 6rem;
	}
	
	& > li {
		position: relative;
		display: inline-block;
		margin-right: $grid-padding;		
		font-family: $font-bold;
		font-size: 1.4rem;
		text-transform: uppercase;
		
		& > a {
			display: block;
			padding: $grid-padding;
			padding-bottom: $grid-padding - .4rem;
			text-decoration: none;
			border-bottom: transparent .4rem solid;
			transition: .3s ease-in-out;
			
			@include rwd(large) {
				color: var(--text_color);
				border-bottom-color: transparent;
			}
		}
		& > a:hover, 
		& > a.focus-visible {
			color: var(--primary_color);
		}
		
		&.current-menu-item > a {
			border-bottom-color: var(--primary_color);
		}

	}
	
}

.breadcrumbs-nav {
	
	.inner {
		padding: $grid-padding;
	}
	
	span {
		font-size: 1.4rem;
		
		a {
			text-decoration: none;
			border-bottom: var(--secondary_color) 1px solid;
			transition: border .3s ease-in-out;
			
			&:hover,
			&.focus-visible {
				border-bottom-color: transparent;	
			}
		}
	}
}