/* ------------------------- */
/* = The Posts
/* ------------------------- */

.the-regular-posts {}
.the-carousel-posts {}

.the-posts {
	position: relative;
	margin-left: -$grid-padding;
	margin-right: -$grid-padding;
		
	@include rwd(large) {
			
		.the-regular-posts & {
			display: flex;
			flex-wrap: wrap;			
		}
	}
}

.post-container {
	padding: $grid-padding;
	
	@include rwd(large) {
		
		.the-regular-posts & {
			display: flex;
			flex-direction: column;
			width: 33.3333%;
		}
	}
}

.post {
	position: relative;
	background-color: #fff;
	
	& > a {
		display: block;
		text-decoration: none;
		outline: none;
	}
	
	& .post-title,
	& .post-content,
	& .post-meta {
		padding: $grid-padding $grid-padding*2;
		margin-bottom: 0;
	}
	& .post-meta {
		padding-top: 0;
	}
	& .post-title {
		padding-bottom: 0;
	}

	@include rwd(large) {

		@include img-opacity(.7);

		.the-regular-posts & {
			flex: 1;			
		}
	}	
}
.post-title {
	transition: color .3s ease-in-out;
	
	a:hover & {
		color: $secondary-color;	
	}
	a.focus-visible & {
		background-color: $primary-color;
		color: #fff;
	}
	
}
.post-figure {
	margin-bottom: 0;
}


/* ------------------------- */
/* = Single Posts
/* ------------------------- */

.single-post {
	
	.post {
		background-color: transparent;
	}
	.post-figure {
		@extend .page-figure;
	}
	.post-title {
		@extend .page-title;
	}
}
.post-single-content {

	@include rwd(large) {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row-reverse;
		@include center();
		
		.post-single {
			width: 75%;
		}
		.post-sidebar {
			width: 25%;
		}
		
	}
}
.post-meta {
	
	p {
		margin-bottom: 0;
		font-size: 1.4rem;
	}
}

.post-sidebar {
	padding: $grid-padding $grid-padding*2;
	
	&[data-scroll="in"] {
		animation: anim-opacity .5s ease-in-out;
	}
	
	.widget-title {
		@extend h3;
	}
}


/* ------------------------- */
/* = Common
/* ------------------------- */

.widget-container {
	overflow: hidden;
	overflow-x: auto;
		
	ul {
		padding: 0;
		list-style: none;
		display: flex;
		width: 100%;
		
		@include rwd(large) {
			flex-direction: column;
		}
		
		li {
			margin-left: 0;
			
			@include rwd(large) {
				display: flex;
				justify-content: flex-start;
				align-items: center;
				width: 100%;
				
			}
			
			a {
				display: block;
				width: 100%;
				padding: $grid-padding;
				border-bottom: $text-color 1px solid;
				border-top: $text-color 1px solid; 
				text-decoration: none;
				transition: .2s ease-in-out;
				
				@include rwd(large) {
					padding: $grid-padding 0;
					border-top: 0;
				}
			}
			&.current-cat a,
			a:hover, 
			a.focus-visible {
				background-color: $primary-color;
				color: #fff;
				padding-left: $grid-padding;
			}
			
			&.recentcomments {
				padding: $grid-padding*2 0; 
			}
		}
	}
	
}


.sticky {
	display: block;
}

.tag-links {
	
}

.nav-links {
	font-family: $font-regular;
}

.page-links {
	
}

.meta-infos {
	
}

/* ------------------------- */
/* = Comments
/* ------------------------- */

.post-comments {
	margin-top: $grid-padding;
	padding: $grid-padding*2;
	border-top: $text-color 1px dashed;
}

.bypostauthor {
	display: block;
}


/* ------------------------- */
/* = Galleries
/* ------------------------- */


.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 100%;
}

.gallery-columns-2 .gallery-item {
	max-width: 50%;
}

.gallery-columns-3 .gallery-item {
	max-width: 33.33%;
}

.gallery-columns-4 .gallery-item {
	max-width: 25%;
}

.gallery-columns-5 .gallery-item {
	max-width: 20%;
}

.gallery-columns-6 .gallery-item {
	max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
	max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
	max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
	max-width: 11.11%;
}

.gallery-caption {
	display: block;
}
